
body {
    background-color: lightblue;
}

button,input {
    width: 100px;
    height: 32px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 24px;
}

.table {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(var(--numCols), 1fr);
    grid-template-rows: repeat(var(--numRows), 1fr);
    width: 550px;
    height: 550px;
    border: black solid 4px;
    border-radius: 4px;
}

.element {
    border: solid 1px black;
}

:root {
    --numCols: 16;
    --numRows: 16;
}